{% extends "base.html" %}

{% load url from future %}

{% block content %}

    <div class="row">
        <div class="columns">
            <ul class="breadcrumbs">
                <li><a href="{% url 'skill.views.home' %}">Главная</a></li>
                <li class="current"><a href="{% url 'backup.views.home' %}">Резервное копирование</a></li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="columns">
            <form action="{% url 'backup.views.export_data' %}" target="_blank">
                {% csrf_token %}
                <input type="submit" class="button" value="Экспортировать в файл">
            </form>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <form action="{% url 'backup.views.home' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.file }}
                {% for error in form.file.errors %}
                    <small class="error">{{ error }}</small>
                {% endfor %}

                <input type="submit" class="button" value="Восстановить из файла">
            </form>
        </div>
    </div>

{% endblock %}
