{% extends "base.html" %}

{% load url from future %}

{% block content %}

    <div class="row">
        <div class="columns">
            <ul class="breadcrumbs">
                <li><a href="{% url 'skill.views.home' %}">Главная</a></li>
                <li class="current"><a href="{% url 'backup.views.home' %}">Резервное копирование</a></li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="columns">

            <form action="{% url 'backup.views.import_data' %}" target="_blank">
                {% csrf_token %}
                <input type="submit" class="button" value="Экспортировать данные в файл">
            </form>
        </div>
    </div>

{% endblock %}
