{% extends "base.html" %}

{% load url from future %}

{% block content %}

    <div class="row">
        <div class="columns">
            {% include 'partials/breadcrumbs.html' with items=breadcrumbs %}
        </div>
    </div>

    {% if messages %}
        <div class="row">
            <div class="columns">
                {% for message in messages %}
                    <div data-alert class="alert-box radius{% if message.tags %} {{ message.tags }}{% endif %}">
                        {{ message }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for i in info %}
            {% include 'partials/info.html' with info=i %}
        {% endfor %}
        <div class="large-4 columns"></div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/vendor/foundation.alerts.js"></script>
{% endblock %}