<div class="row">
    <div class="columns">
        <breadcrumbs items="breadcrumbs"></breadcrumbs>
    </div>
</div>

<div class="row">
    <div class="columns">
        <table class="selectable">
            <thead>
                <th>Наименование</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in taxonomy" ng-click="select(x)" ng-class="{'selected': isSelected(x)}">
                    <td>{{ x.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
