<div class="row">
    <div class="columns">
        <breadcrumbs items="breadcrumbs"></breadcrumbs>
    </div>
</div>

<div class="row">
    <div class="columns">
        <ul class="button-group">
            <li><a href="#/add" class="small button">Добавить</a></li>
            <li><button class="small button secondary" ng-disabled="!canEdit()" ng-click="edit()">Редактировать</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="columns">
        <table class="selectable">
            <thead>
                <th>Наименование</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in taxonomy" ng-click="select(x)" ng-class="{'selected': isRowSelected(x)}">
                    <td>{{ x.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
