<div class="row">
    <div class="columns">
        <breadcrumbs items="breadcrumbs"></breadcrumbs>
    </div>
</div>

<form name="form" novalidate ng-submit="submit()" wh-form-form>

    <div wh-form-input label="Наименование">
        <input type="text" id="title-label" name="title" ng-model="item.title" required/>
        <small class="error" ng-show="form.title.$dirty && form.title.$error.required">Обязательное поле</small>
    </div>

    <div wh-form-input label="Родитель">
        <select ng-model="item.parent_id"
                ng-options="x.id as utils.indentOption(x) for x in taxonomy"
                options-disabled="isDisabledItem(x) for x in taxonomy">
            <option value="">-- нет родителя --</option>
        </select>
    </div>

    <div wh-form-submit>
        <ul class="button-group">
            <li><input type="submit" class="small button" value="Сохранить" ng-disabled="form.$invalid"></li>
            <li><input type="button" ng-click="cancel()" class="small secondary button" value="Отмена"/></li>
        </ul>
    </div>

</form>