<div class="row">
    <div class="columns">
        <breadcrumbs items="breadcrumbs"></breadcrumbs>
    </div>
</div>

<form name="form" novalidate ng-submit="submit()">
    <div class="row">
        <div class="large-{{ formSize }} columns">

            <div wh-form-element label="Наименование">
                <input type="text" name="title" ng-model="item.title" required maxlength="32"/>

                <div ng-show="form.title.$dirty && form.title.$invalid">
                    <small class="error" ng-show="form.title.$error.required">Обязательное поле</small>
                </div>
            </div>

            <div wh-form-element label="Группа">
                <select name="taxonomy"
                        ng-model="item.taxonomy_id"
                        ng-options="x.id as utils.indentOption(x) for x in taxonomy"
                        required>
                    <option value="">-- выберите группу --</option>
                </select>
                <small class="error" ng-show="form.taxonomy.$dirty && form.taxonomy.$error.required">
                    Обязательное поле
                </small>
            </div>

            <div wh-form-element label="Приходная цена за т.<br/>(без НДС), руб.">
                <input type="number" name="price" ng-model="item.price" required maxlength="10" min="0"/>

                <div ng-show="form.price.$dirty && form.price.$invalid">
                    <small class="error" ng-show="form.price.$error.required">Введите число</small>
                    <small class="error" ng-show="form.price.$error.number">Введите число</small>
                    <small class="error" ng-show="form.price.$error.min">Введите положительное число</small>
                </div>
            </div>

            <div wh-form-element label="Label">
                <input type="text" name="asd" ng-model="item.asd" required/>

                <div ng-show="form.asd.$dirty && form.asd.$invalid">
                    <small class="error" ng-show="form.asd.$error.required">Обязательное поле</small>
                </div>

            </div>

            <div wh-form-submit>
                <ul class="button-group">
                    <li><input type="submit" class="small button" value="Сохранить" ng-disabled="form.$invalid"></li>
                    <li><input type="button" ng-click="cancel()" class="small secondary button" value="Отмена"/>
                </ul>
            </div>

        </div>
    </div>
</form>