<div class="row">
    <div class="columns">
        <breadcrumbs items="breadcrumbs"></breadcrumbs>
    </div>
</div>

<div class="row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <button class="small button" ng-click="addProduct()">Добавить товар</button>
                </li>
                <li>
                    <button class="small secondary button" ng-click="editProduct()" ng-disabled="!canEditProduct()">Редактировать</button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="small secondary button" ng-click="removeProduct()" ng-disabled="!canEditProduct()">Удалить</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-2 columns">
        <ul class="side-nav">
            <li ng-repeat="x in taxonomy | taxonomyFilter:selectedTaxonomy"
                ng-class="{'active': isTaxonomyActive(x)}">
                <a href ng-click="selectTaxonomy(x)"><span
                        style="margin-left: {{ sortorder.getMargin(x) }}">{{ x.title }}</span></a>
            </li>
        </ul>
    </div>
    <div class="large-10 columns">
        <div ng-hide="products.length > 0">Товары отстутствуют.</div>
        <table class="selectable" ng-show="products.length > 0">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Приход (без НДС)</th>
                <th>Тоннаж</th>
                <th>Длина</th>
                <th>Коэфф.</th>
                <th>Наценка</th>
                <th>Реализаця (без НДС)</th>
                <th>Ставка НДС</th>
                <th colspan="2">Реализация<br>(с НДС)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in products"
                ng-click="selectProduct(p)"
                ng-dblclick="showProductCard(p)"
                ng-class="{'selected': isProductSelected(p)}" class="no-selection">
                <td>{{ p.title }}</td>
                <td>{{ p.price | number:0 }}</td>
                <td>{{ p.weight }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.k }}</td>
                <td>{{ p.margin }}</td>
                <td>{{ p | whProductMargin | number:0 }}</td>
                <td>{{ p.vat }}</td>
                <td>{{ p | whProductMarginVat | number:0 }}</td>
                <td>{{ p | whProductMarginVatK | number:0 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>