<div class="row">
    <div class="columns">
        <breadcrumbs items="breadcrumbs"></breadcrumbs>
    </div>
</div>

<div class="row">
    <div class="columns">
        <div class="button-bar">
            <ul class="button-group">
                <li>
                    <button class="small button" ng-click="add()">Создать группу</button>
                </li>
                <li>
                    <button class="small secondary button" ng-click="remove()" ng-disabled="!hasSelection()">Удалить
                    </button>
                </li>
            </ul>
            <ul class="button-group">
                <li>
                    <button class="small secondary button" ng-disabled="!sortorder.canMoveUp(selected, taxonomy)" ng-click="moveUp()">
                        Вверх
                    </button>
                </li>
                <li>
                    <button class="small secondary button" ng-disabled="!sortorder.canMoveDown(selected, taxonomy)" ng-click="moveDown()">
                        Вниз
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-5 columns">
        <table class="selectable" ng-show="taxonomy.length > 0" width="100%">
            <tbody>
            <tr ng-repeat="x in taxonomy" ng-click="select(x)" ng-dblclick="edit()"
                ng-class="{'selected': isRowSelected(x)}" class="no-selection">
                <td><span style="margin-left: {{ getMargin(x) }}">{{ x.title }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
