<!DOCTYPE html>
<!--[if IE 8]>                  <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ globals.company }}</title>

    <link rel="stylesheet" href="/static/home/css/normalize.css" />
    <link rel="stylesheet" href="/static/home/css/foundation.css" />
    <script src="/static/home/js/vendor/custom.modernizr.js"></script>

</head>
<body>

    <div class="row">
        <div class="large-12 columns">
            <h2>{{ globals.company }}</h2>
            <p>Версия {{ globals.version }}</p>
            <hr />
        </div>
    </div>

{% load l10n %}
{% localize on %}

    <div class="row">
        <div class="small-12 columns">
            <h4>Остатки</h4>
            <table>
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена (без&nbsp;НДС)</th>
                        <th>Тоннаж</th>
                        <th>Длина штанги (м)</th>
                        <th>Метраж (м)</th>
                        <th>Коэфф.</th>
                        <th>Наценка (%)</th>
                        <th>Цена реализ. (без НДС)</th>
                        <th>Ставка НДС (%)</th>
                        <th>Цена реализ. за т (с НДС)</th>
                        <th>Цена реализ. за м (с НДС)</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.type }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.item_length }}</td>
                        <td>{{ product.full_length }}</td>
                        <td>{{ product.coefficient }}</td>
                        <td>{{ product.margin }}</td>
                        <td>{{ product.margin_price }}</td>
                        <td>{{ product.vat }}</td>
                        <td>{{ product.margin_vat_price }}</td>
                        <td>{{ product.margin_vat_price_meter|floatformat:"0" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endlocalize %}

<script>
document.write('<script src=/static/home/' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
</script>

<script src="/static/home/js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
-->

<script>
$(document).foundation();
</script>
</body>
</html>
