{% extends "base.html" %}

{% block content %}
    <div ng-app="taxonomy">
        {% csrf_token %}
        <div ng-view></div>
    </div>
{% endblock %}

{% block script %}

    {# vendor #}

    <script src="{{ STATIC_URL }}js/vendor/jquery-2.0.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular-resource.min.js"></script>

    {# taxonomy #}

    <script src="{{ STATIC_URL }}js/taxonomy/TaxonomyModule.js"></script>

    <script src="{{ STATIC_URL }}js/taxonomy/services/Taxonomy.js"></script>
    <script src="{{ STATIC_URL }}js/taxonomy/services/TaxonomySortorder.js"></script>
    <script src="{{ STATIC_URL }}js/taxonomy/services/TaxonomyUtils.js"></script>

    <script src="{{ STATIC_URL }}js/taxonomy/controllers/Add.js"></script>
    <script src="{{ STATIC_URL }}js/taxonomy/controllers/Edit.js"></script>
    <script src="{{ STATIC_URL }}js/taxonomy/controllers/List.js"></script>

    <script src="{{ STATIC_URL }}js/taxonomy/directives/Breadcrumbs.js"></script>

{% endblock %}
