{% extends "base.html" %}

{% block content %}
<div ng-app="taxonomy">
    {% csrf_token %}
    <div ng-view></div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/vendor/angular.min.js"></script>
<script src="/static/js/vendor/angular-resource.min.js"></script>

<script src="/static/js/taxonomy.js"></script>
<script src="/static/js/taxonomy.services.js"></script>
<script src="/static/js/taxonomy.controllers.js"></script>
<script src="/static/js/taxonomy.directives.js"></script>
{% endblock %}
