{% extends "base.html" %}

{% block content %}

    {% csrf_token %}

    <div ng-app="warehouse">

        <div class="busy-indicator">
            <div>Загрузка...</div>
        </div>

        <div ng-view></div>
    </div>

{% endblock %}

{% block script %}

    {# vendor #}

    <script src="{{ STATIC_URL }}js/vendor/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular-locale_ru.js"></script>

    {# taxonomy #}

    <script src="{{ STATIC_URL }}js/warehouse/WarehouseModule.js"></script>

    <script src="{{ STATIC_URL }}js/warehouse/controllers/Main.js"></script>
    <script src="{{ STATIC_URL }}js/warehouse/controllers/Add.js"></script>
    <script src="{{ STATIC_URL }}js/warehouse/filters/Taxonomy.js"></script>

    <script src="{{ STATIC_URL }}js/shared/services/Product.js"></script>
    <script src="{{ STATIC_URL }}js/shared/directives/Breadcrumbs.js"></script>
    <script src="{{ STATIC_URL }}js/shared/directives/BusyIndicator.js"></script>
    <script src="{{ STATIC_URL }}js/shared/directives/Form.js"></script>
    <script src="{{ STATIC_URL }}js/shared/directives/Format.js"></script>
    <script src="{{ STATIC_URL }}js/shared/services/Taxonomy.js"></script>
    <script src="{{ STATIC_URL }}js/shared/services/Sortorder.js"></script>
    <script src="{{ STATIC_URL }}js/shared/providers/Promise.js"></script>

{% endblock %}
