{% extends "base.html" %}

{% block content %}
    <div ng-app="warehouse">
        {% csrf_token %}
        <div ng-view></div>
    </div>
{% endblock %}

{% block script %}

    {# vendor #}

    <script src="{{ STATIC_URL }}js/vendor/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular-resource.min.js"></script>

    {# taxonomy #}

    <script src="{{ STATIC_URL }}js/warehouse/WarehouseModule.js"></script>

    <script src="{{ STATIC_URL }}js/warehouse/controllers/Main.js"></script>
    <script src="{{ STATIC_URL }}js/warehouse/controllers/Add.js"></script>

    <script src="{{ STATIC_URL }}js/warehouse/filters/Taxonomy.js"></script>

    <script src="{{ STATIC_URL }}js/shared/directives/Breadcrumbs.js"></script>
    <script src="{{ STATIC_URL }}js/shared/services/Taxonomy.js"></script>
    <script src="{{ STATIC_URL }}js/shared/services/Sortorder.js"></script>

{% endblock %}
